@inherits ArticleCategoriesBase
@page "/articlecategories"


<div class="mt-3">
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger">
            @error
        </div>
    }

    @if (currentCategory == null)
    {
        <ItemList Model="categoriesModel"
                  OnAddClick="AddCategory"
                  OnEditClick="EditCategory"
                  OnDeleteClick="DeleteCategory">
        </ItemList>
    }
    else
    {
        <ArticleCategory Category="currentCategory"
                         OnSaveClick="SaveCategory"
                         OnCancelClick="ShowList">
        </ArticleCategory>
    }
</div>
