@page "/articles"

<h2>Article</h2>
<div class="mt-3">
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger">
            @error
        </div>
    }

    @if (currentArticle == null)
    {
        <ItemList Model="articlesModel"
                  OnAddClick="AddArticle"
                  OnEditClick="EditArticle"
                  OnDeleteClick="DeleteArticle">
        </ItemList>
    }
    else
    {
        <Article Item="currentArticle"
                 OnSaveClick="SaveArticle"
                 OnCancelClick="ShowList">
        </Article>
    }
</div>

